[Desktop Entry]
Version=0.1.1
Type=Application
Name=Metavinci Desktop
GenericName=Heavymeta Tools Daemon
Comment=Manage Heavymeta Tools and Updates.
Exec=/usr/bin/metavinci_desktop
Terminal=false
Icon=metavinci_desktop
Keywords=Metavinci;Heavymeta;
Categories=Web3;Art;
